<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing Home</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        header h1 {
            color: #FF6347; 
            margin: 0;
            font-size: 2em;
        }

        h1.main {
            text-align: center;
            color: #007BFF;
            font-size: 1.5em;
            margin-bottom: 30px;
        }

        nav {
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #list {
            display: inline-block;
            margin-right: 20px;
        }

        .link {
            text-decoration: none;
            color: #333;
            font-size: 1.2em;
            padding: 10px;
            border: 2px solid #007BFF; 
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .link:hover {
            background-color: #007BFF; 
            color: white;
        }

        #logo {
            color: #FF6347;
        }
    </style>
    <title>Hot & Spicy Grilled - Order Processing System</title>
</head>
<body>
    <header>
        <h1><i id="logo"><ion-icon name="bonfire"></ion-icon></i> HOT & SPICY GRILLED <i id="logo"><ion-icon name="bonfire"></ion-icon></i></h1>
    </header>

    <h1 class="main"><i id="logo"><ion-icon name="restaurant"></ion-icon></i> WELCOME TO ORDER PROCESSING SYSTEM <i id="logo"> <ion-icon name="restaurant"> </ion-icon> </i></h1>

    <nav>
        <ul>
            <li id="list"><a class="link" href="/orders"><i id="logo"><ion-icon name="create"></ion-icon></i> CURRENT ORDERS</a></li>
            <li id="list"><a class="link" href="/completed-orders"><i id="logo"><ion-icon name="checkmark-done-circle"></ion-icon></i> COMPLETED ORDERS</a></li>
        </ul>
    </nav>
</body>
</html>
